$cl-primary: #5386e4;
$cl-secondary: #4c4b63;

$cl-white: #fff;
$cl-grey: #ccc;
$cl-black: #000;

$cl-success: #06d6a0;
$cl-error: #ef476f;
$cl-warning: #ffc43d;
$cl-info: #1b9aaa;

$cl-background: #dadada;
$cl-background-dark: #bcbcbc;
$cl-background-light: #f5f5f5;
